bin
obj
[Rr]elease*/
_ReSharper*/
*.ReSharper
*.ReSharper.user
*.suo
*.user
*.fs.bak
*.userprefs
*.fs.bak
*.nupkg
*.*~
:
deploy/NuGet/lib
build

src/packages/*
!src/packages/repositories.config

# Generated documentation
Docs/output/*